main{
    text-align: justify;
    margin-right: 10vw;
    margin-left: 10vw;
    font-family: 'Prompt', sans-serif;
    font-weight: 200;
    font-size: 100;
}
h1{
  color: #fff;
  font-family: 'Prompt', sans-serif;
  font-weight: 700;
  text-shadow: 5px 5px 10px rgb(250, 122, 2);

}
.header{
    background-image: url("/src/images/eva-blue-SfPOkp6-2eA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    padding: 0.1%;
    text-align: center;
    font-size: 2.5rem;
}

#form-container{
  border: 2px solid rgba(0,208,255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 1%;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 10px rgb(250, 122, 2);
  width: 80vw;
}

.image{
  background-image: url(/src/images/eva-blue-SfPOkp6-2eA-unsplash.jpg);
  background-size: cover;
  width: 60vw;
  padding: 2rem;
  padding-top: 2rem;
  padding-left: 1rem;
  align-items: center;
  margin-left: 1rem;
}
img{
  width: 33vw;
  margin-left: 1em;
}
.form{
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.formContent{
  display: flex;
  flex-direction: column;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popupbox {
    visibility: hidden;
    width: 30vw;
    height: 10vh;
    background-color: rgb(250, 122, 2);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 0px;
    position: relative;
    z-index: 1;
    top: 125%;
    margin: 12%;
    margin-top: 2rem;
    margin-bottom: -1rem;
}
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Adds animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  .popupdesc{
    margin: 10%;
    text-align: center;
    margin-bottom: .5rem;
  }
  .button{
    background-color: rgba(0,208,255);
    color: #fff;
    border: 1px solid white;
    font-size: .8rem;
    padding: 1px;
    width: 5em;
    height: 1.5rem;
    border-radius: 9%;
    transition: 1s;
  }
  .button:hover{
    transform: scale(1.1,1.1);
    background-color: rgba(0,0,255);
  }
  footer{
    display: flex;
    justify-content: center;
  }
  .fa{
    padding: 10px;
    margin: 8px 2px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgba(0,0,255);
    color: white;
    transition: all 0.3s;
  }
  .fa:hover{
    background-color: rgb(250, 122, 2);
    border: 1px solid white;
  }